*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.arrow {
	border-color: transparent green;
	border-style: solid;
	border-width: 7px 7px 7px 0px;
	height: 0px;
  width: 0px;
  margin-left: 1rem;
}

.card-num{
  display: flex;
  justify-content: space-between;
  width: 18rem;
  padding-left: 1rem;
}

span{
  font-family: cursive;
  font-size: 1.4rem;
}